@if (fuelStation(); as fs) {
    <p-panel>
        <ng-template #header>
            <div class="flex justify-between items-center w-full">
                <span class="font-semibold">Fuel tanks</span>
                <p-button
                    icon="pi pi-plus"
                    label="Install fuel tank"
                    size="small"
                    severity="primary"
                    (onClick)="openInstallDialog()">
                </p-button>
            </div>
        </ng-template>
        <p-table [value]="fs.fuelTanks" size="small" [showLoader]="false"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Id</th>
                    <th>Current Volume</th>
                    <th>Max Capacity</th>
                    <th>Fuel Grade</th>
                    <th>Last Refill Date</th>
                    <th style="width: 12rem">Actions</th>
                </tr>
            </ng-template>
            <ng-template #body let-fuelTank>
                <tr>
                    <td>{{ fuelTank.id }}</td>
                    <td>{{ fuelTank.currentVolume }}</td>
                    <td>{{ fuelTank.maxCapacity }}</td>
                    <td>{{ getFuelGradeValue(fuelTank.fuelGrade) }}</td>
                    <td>{{ fuelTank.lastRefillDate | date: 'mediumDate' }}</td>
                    <td>
                        <div class="flex gap-2">
                            <p-button
                                icon="pi pi-minus-circle"
                                size="small"
                                severity="secondary"
                                [outlined]="true"
                                pTooltip="Dispense fuel"
                                [disabled]="fuelTank.currentVolume <= 0"
                                (onClick)="openDispenseDialog(fuelTank)">
                            </p-button>
                            <p-button
                                icon="pi pi-trash"
                                size="small"
                                severity="danger"
                                [outlined]="true"
                                [pTooltip]="fuelTank.currentVolume > 0 ? 'Tank must be empty (' + fuelTank.currentVolume + ' L) before it can be decommissioned' : 'Decommission tank'"
                                [loading]="decommissionLoading()"
                                [disabled]="fuelTank.currentVolume > 0"
                                (onClick)="decommission(fuelTank)">
                            </p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #loadingbody>
                <tr *ngFor="let row of skeletonRows" style="height:46px">
                    <td *ngFor="let col of skeletonCols">
                        <p-skeleton></p-skeleton>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>

    <app-dispense-fuel-dialog #dispenseDialog></app-dispense-fuel-dialog>
    <app-install-fuel-tank-dialog #installDialog></app-install-fuel-tank-dialog>
}
