<app-create-manager-dialog #dialog></app-create-manager-dialog>
<p-panel header="Managers">
    <ng-template #icons>
        <p-button (onClick)="dialog.openDialog()" severity="secondary" [outlined]="true" label="Create Manager" />
    </ng-template>
    <app-manager-table
        [managers]="managers"
        [loading]="loading()"
        [showStatus]="true"
        [actionsTemplate]="actions"
    />
</p-panel>

<ng-template #actions let-manager>
    <app-sign-in-as-manager-button [managerId]="manager.credentialsId" />
</ng-template>
