<app-create-manager-dialog #dialog></app-create-manager-dialog>
<p-panel header="Managers">
    <ng-template #icons>
        <p-button (onClick)="dialog.openDialog()" severity="secondary" [outlined]="true" label="Create Manager" />
    </ng-template>
    <p-table [value]="managers" size="small" [loading]="loading$ | async" [showLoader]="false"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template #body let-manager>
            <tr>
                <td>{{ manager.id }}</td>
                <td>{{ manager.firstName }}</td>
                <td>{{ manager.lastName }}</td>
                <td>{{ manager.fullName }}</td>
                <td><p-tag [value]="manager.status.toString()" [severity]="getSeverity(manager)" /></td>
                <td>
                    <p-button (click)="handleSignInAsManager(manager.id)" size="small" severity="secondary" [outlined]="true">
                        Sign In
                    </p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr *ngFor="let row of skeletonRows" style="height:46px">
                <td *ngFor="let col of skeletonCols">
                    <p-skeleton></p-skeleton>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
