<app-create-fuel-order-dialog #dialog></app-create-fuel-order-dialog>
<p-panel [header]="'fuelOrders.title' | translate">
    <ng-template #icons>
        <p-button (onClick)="dialog.openDialog()" severity="secondary" [outlined]="true" [label]="'fuelOrders.createButton' | translate" />
    </ng-template>
    <p-table [value]="fuelOrders()" size="small" [loading]="loading()" [showLoader]="false"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>{{ 'common.id' | translate }}</th>
                <th>{{ 'fuelOrders.status' | translate }}</th>
                <th>{{ 'fuelOrders.grade' | translate }}</th>
                <th>{{ 'fuelOrders.amount' | translate }}</th>
                <th>{{ 'fuelOrders.createdAt' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template #body let-fuelOrder>
            <tr>
                <td>{{ fuelOrder.fuelOrderId }}</td>
                <td><app-fuel-order-status-tag [status]="fuelOrder.status" /></td>
                <td><app-fuel-grade-label [grade]="fuelOrder.fuelGrade" /></td>
                <td>{{ fuelOrder.volume }}{{ 'fuelTanks.litres' | translate }}</td>
                <td>{{ fuelOrder.createdAt | appDate }}</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr *ngFor="let row of skeletonRows" style="height:46px">
                <td *ngFor="let col of skeletonCols">
                    <p-skeleton></p-skeleton>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
