<p-panel header="Fuel stations">  
    <app-create-fuel-station-dialog [visible]="visible"></app-create-fuel-station-dialog>
    <ng-template #icons>
        <p-button severity="secondary" [outlined]="true" label="Create" (click)="openDialog()" />
    </ng-template>
    <p-table
        showGridlines
        [loading]="fuelStationQueryService.loading$ | async"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template #header>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <tbody>
            <tr *ngFor="let fuelStation of fuelStationQueryService.fuelStations$ | async">
                <td>{{ fuelStation.id }}</td> 
                <td>{{ fuelStation.address }}</td>
                <td><p-tag [value]="fuelStation.status.toString()" [severity]="getSeverity(fuelStation)"/></td>
                <td><p-button [outlined]="true">View</p-button></td> 
            </tr>
        </tbody>
    </p-table>
</p-panel>