<p-dialog
    (visibleChange)="handleStateChange($event)"
    [visible]="open"
    [modal]="true"
    [style]="{ width: '420px' }"
    [header]="'fuelTanks.installDialogTitle' | translate">
    <form class="flex flex-col gap-4" [formGroup]="form" (submit)="submit()">
        <div class="flex flex-col gap-1">
            <label class="text-sm">{{ 'fuelTanks.grade' | translate }}</label>
            <p-select [options]="fuelGrades" formControlName="fuelGrade" [placeholder]="'fuelTanks.selectGrade' | translate" styleClass="w-full">
                <ng-template #selectedItem let-selectedOption>
                    <div *ngIf="selectedOption"><app-fuel-grade-label [grade]="selectedOption.value" /></div>
                </ng-template>
                <ng-template let-fuelGrade #item>
                    <div><app-fuel-grade-label [grade]="fuelGrade.value" /></div>
                </ng-template>
            </p-select>
            @if (fuelGradeInvalid) {
                <p-message severity="error" variant="simple" size="small">{{ 'fuelTanks.gradeRequired' | translate }}</p-message>
            }
        </div>
        <div class="flex flex-col gap-1">
            <label class="text-sm">{{ 'fuelTanks.maxCapacityLabel' | translate }}</label>
            <p-inputNumber
                formControlName="maxCapacity"
                [min]="0.001"
                [maxFractionDigits]="3"
                placeholder="e.g. 35000"
                styleClass="w-full"
                [showButtons]="false">
            </p-inputNumber>
            @if (maxCapacityInvalid) {
                <p-message severity="error" variant="simple" size="small">{{ 'fuelTanks.maxCapacityInvalid' | translate }}</p-message>
            }
        </div>
        <div class="flex justify-end gap-2 mt-2">
            <p-button [label]="'common.cancel' | translate" severity="secondary" [text]="true" type="button" (onClick)="closeDialog()" />
            <p-button [label]="'fuelTanks.installButton' | translate" icon="pi pi-plus-circle" type="submit" [loading]="loading()" />
        </div>
    </form>
</p-dialog>
