<p-dialog
    (visibleChange)="handleStateChange($event)"
    [visible]="open"
    [modal]="true"
    [style]="{ width: '420px' }"
    header="Install fuel tank">
    <form class="flex flex-col gap-4" [formGroup]="form" (submit)="submit()">
        <div class="flex flex-col gap-1">
            <label class="text-sm">Fuel grade</label>
            <p-select [options]="fuelGrades" formControlName="fuelGrade" placeholder="Select fuel grade" styleClass="w-full">
                <ng-template #selectedItem let-selectedOption>
                    <div *ngIf="selectedOption">{{ selectedOption.label }}</div>
                </ng-template>
                <ng-template let-fuelGrade #item>
                    <div>{{ fuelGrade.label }}</div>
                </ng-template>
            </p-select>
            @if (fuelGradeInvalid) {
                <p-message severity="error" variant="simple" size="small">Fuel grade is required</p-message>
            }
        </div>
        <div class="flex flex-col gap-1">
            <label class="text-sm">Max capacity (L)</label>
            <p-inputNumber
                formControlName="maxCapacity"
                [min]="0.001"
                [maxFractionDigits]="3"
                placeholder="e.g. 35000"
                styleClass="w-full"
                [showButtons]="false">
            </p-inputNumber>
            @if (maxCapacityInvalid) {
                <p-message severity="error" variant="simple" size="small">Max capacity must be greater than zero</p-message>
            }
        </div>
        <div class="flex justify-end gap-2 mt-2">
            <p-button label="Cancel" severity="secondary" [text]="true" type="button" (onClick)="closeDialog()" />
            <p-button label="Install" icon="pi pi-plus-circle" type="submit" [loading]="loading()" />
        </div>
    </form>
</p-dialog>
