<form class="flex flex-col gap-4" [formGroup]="fuelStationForm" (submit)="handleSubmit()">
    <div class="flex flex-col gap-1">
        <input
            type="street"
            pInputText
            [placeholder]="'fuelStations.street' | translate"
            formControlName="street"
        />
        <p-message *ngIf="streetInvalid" severity="error" variant="simple" size="small">{{ 'fuelStations.errors.streetInvalid' | translate }}</p-message>
    </div>
    <div class="flex flex-col gap-1">
        <input
            type="buildingNumber"
            pInputText
            [placeholder]="'fuelStations.buildingNumber' | translate"
            formControlName="buildingNumber"
        />
        <p-message *ngIf="buildingNumberInvalid" severity="error" variant="simple" size="small">{{ 'fuelStations.errors.buildingNumberInvalid' | translate }}</p-message>
    </div>
    <div class="flex flex-col gap-1">
        <input
            type="city"
            pInputText
            [placeholder]="'fuelStations.city' | translate"
            formControlName="city"
        />
        <p-message *ngIf="cityInvalid" severity="error" variant="simple" size="small">{{ 'fuelStations.errors.cityInvalid' | translate }}</p-message>
    </div>
    <div class="flex flex-col gap-1">
        <input
            type="postalCode"
            pInputText
            [placeholder]="'fuelStations.postalCode' | translate"
            formControlName="postalCode"
        />
        <p-message *ngIf="postalCodeInvalid" severity="error" variant="simple" size="small">{{ 'fuelStations.errors.postalCodeInvalid' | translate }}</p-message>
    </div>
    <div class="flex flex-col gap-1">
        <p-select
            [options]="countryCodes"
            [placeholder]="'fuelStations.selectCountry' | translate"
            formControlName="country"
            styleClass="w-full"
            appendTo="body"
        />
        <p-message *ngIf="countryInvalid" severity="error" variant="simple" size="small">{{ 'fuelStations.errors.countryRequired' | translate }}</p-message>
    </div>
    <p-button type="submit" icon="pi pi-sign-in" styleClass="w-full" [label]="buttonText" [loading]="loading"/>
</form>
