spring:
  application:
    name: fuel-station-api

  datasource:
    url: jdbc:postgresql://localhost:5432/demo_db
    username: demo_user
    password: demo_password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true
    drop-first: false
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  mail:
    host: localhost
    port: 1025
    from: noreply@fuelstation.com

#logging:
#  level:
#    org.hibernate.SQL: DEBUG
#    org.hibernate.orm.jdbc.bind: TRACE
#    org.hibernate.type.descriptor.sql: TRACE
#    liquibase: INFO
#    liquibase.executor: DEBUG

security:
  jwt:
    # 256-bit key (32 bytes), encoded in Base64
    secret-key: "N0JxZzNsbmFPa3Vlc2F3b2pXb2VjYjR2ZXh0eWx0aGdlcnJ5Y2F0Y2g="

    # Access token expiration in milliseconds (e.g. 15 minutes)
    access-token-expiration: 900000

    # Refresh token expiration in milliseconds (e.g. 7 days)
    refresh-token-expiration: 604800000

client:
  origin: http://localhost:4200, http://localhost:4201

