<app-assign-manager-dialog #dialog></app-assign-manager-dialog>
<p-panel header="Assigned Managers">
    <ng-template #icons>
        <p-button (onClick)="dialog.openDialog()" severity="secondary" [outlined]="true" label="Assign manager" />
    </ng-template>
    <app-manager-table
        [managers]="managers()"
        [loading]="loading()"
        [actionsTemplate]="actions"
    />
</p-panel>

<ng-template #actions let-manager>
    <app-unassign-manager-button [managerId]="manager.credentialsId" />
</ng-template>
