<div class="flex flex-col gap-2"> 
    <ng-template #loading>
        <h2 class="text-2xl my-2 font-semibold">Loading...</h2>
    </ng-template>
    <h2 class="text-2xl my-2 font-semibold" *ngIf="ctx$ | async as ctx; else loading">Fuel station ID: {{ctx.fuelStation.id}}</h2>
    <div class="p-4 bg-zinc-900 rounded-lg">
        <p-tabs value="/dashboard">
            <p-tablist>
                @for(tab of tabs; track tab.route){
                    <p-tab [value]="tab.route" [routerLink]="tab.route" class="flex items-center !gap-2 text-inherit">
                        <i [class]="tab.icon"></i>
                        <span>{{ tab.label }}</span>
                    </p-tab>
                }
            </p-tablist>
        </p-tabs>
    </div>
    <router-outlet></router-outlet>
</div>