<p-table
        [value]="fuelStations()"
        [loading]="loading()"
        size="small"
        [showLoader]="false"
        [tableStyle]="{ 'min-width': '50rem' }">

    <ng-template #header>
        <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Status</th>
            <th class="w-60 !text-center">Action</th>
        </tr>
    </ng-template>

    <ng-template fuelStationTemplate #body let-fuelStation>
        <tr>
            <td>{{ fuelStation.fuelStationId }}</td>
            <td>{{ fuelStation.address }}</td>
            <td><p-tag [value]="fuelStation.status" [severity]="getSeverity(fuelStation)" /></td>
            <td>
                    @if(fuelStation.active) { 
                        <div class="flex items-center justify-center gap-2">
                            <p-button 
                                size="small" 
                                severity="secondary" 
                                [outlined]="true"
                                (onClick)="viewClicked.emit(fuelStation.fuelStationId)" 
                            >
                                View
                            </p-button>
                            <p-button
                                size="small"
                                severity="danger"
                                [outlined]="true"
                                [loading]="deactivateLoading()"
                                (onClick)="deactivate(fuelStation.fuelStationId)"
                            >
                                Deactivate Station
                            </p-button>
                        </div>
                    } @else {
                        <div class="flex justify-center">No actions</div>
                    }
            </td>
            <td>
        </tr>
    </ng-template>

    <ng-template #loadingbody>
        @for (row of skeletonRows; track $index) {
            <tr style="height: 46px">
                @for (col of skeletonCols; track $index) {
                    <td><p-skeleton /></td>
                }
            </tr>
        }
    </ng-template>

</p-table>
