spring:
  application:
    name: fuel-station-api

  datasource:
    url: jdbc:postgresql://localhost:5432/demo_db
    username: demo_user
    password: demo_password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5


security:
  jwt:
    # 256-bit key (32 bytes), encoded in Base64
    secret-key: "N0JxZzNsbmFPa3Vlc2F3b2pXb2VjYjR2ZXh0eWx0aGdlcnJ5Y2F0Y2g="

    # Access token expiration in milliseconds (e.g. 15 minutes)
    access-token-expiration: 900000

    # Refresh token expiration in milliseconds (e.g. 7 days)
    refresh-token-expiration: 604800000

client:
  origin: http://localhost:4200

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web: DEBUG
    org.springframework.security.oauth2: DEBUG
