<app-assign-manager-dialog #dialog></app-assign-manager-dialog>
<p-panel header="Assigned Managers" *ngIf="ctx$ | async as ctx">
    <ng-template #icons>
        <p-button (onClick)="dialog.openDialog()" severity="secondary" [outlined]="true" label="Assign manager" />
    </ng-template>
    <p-table [value]="ctx.managers" size="small" [loading]="loading$ | async" [showLoader]="false"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
                <th class="flex items-center justify-center">Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-manager>
            <tr>
                <td>{{ manager.id }}</td>
                <td>{{ manager.firstName }}</td>
                <td>{{ manager.lastName }}</td>
                <td>{{ manager.fullName }}</td>
                <td>
                    <div class="flex items-center justify-center">
                        <p-button (onClick)="unassignManger(manager.id)" size="small" severity="secondary" [outlined]="true" [loading]="loadingUnassignManager$ | async">
                            Unassign Manager
                        </p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr *ngFor="let row of skeletonRows" style="height:46px">
                <td *ngFor="let col of skeletonCols">
                    <p-skeleton></p-skeleton>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>