<p-panel header="Fuel Prices" *ngIf="ctx$ | async as ctx">
    <p-table [value]="ctx.fuelStation.fuelPrices" size="small" [showLoader]="false" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Fuel Grade</th>
                <th>Price Per Liter</th>
            </tr>
        </ng-template>
        <ng-template #body let-fuelPrice let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="fuelPrice">
                <td>{{ getFuelGradeValue(fuelPrice.fuelGrade) }}</td>
                <td>{{fuelPrice.pricePerLiter | currency: 'USD'}}</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr *ngFor="let row of skeletonRows" style="height:46px">
                <td *ngFor="let col of skeletonCols">
                    <p-skeleton></p-skeleton>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>