@let station = fuelStation();
@if (station) {
    <div class="flex flex-col gap-4">
        <app-fuel-price-recommendation
            [fuelStationId]="station.fuelStationId!"
            [countryCode]="station.country"
            (applied)="onPricesChanged()" />

        <app-fuel-price-table
            [fuelStation]="station"
            (changed)="onPricesChanged()" />

        <app-fuel-price-history-chart
            [fuelStationId]="station.fuelStationId!"
            [countryCode]="station.country"
            [refreshKey]="historyRefresh()" />
    </div>
}
