<p-panel header="Fuel tanks" *ngIf="ctx$ | async as ctx">
    <p-table [value]="ctx.fuelStation.fuelTanks" size="small" [loading]="loading$ | async" [showLoader]="false"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Id</th>
                <th>Current Volume</th>
                <th>Max Capacity</th>
                <th>Fuel Grade</th>
                <th>Last Refill Date</th>
            </tr>
        </ng-template>
        <ng-template #body let-fuelTank>
            <tr>
                <td>{{ fuelTank.id }}</td>
                <td>{{ fuelTank.currentVolume }}</td>
                <td>{{ fuelTank.maxCapacity }}</td>
                <td>{{ getFuelGradeValue(fuelTank.fuelGrade) }}</td>
                <td>{{ fuelTank.lastRefillDate | date: 'mediumDate' }}</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr *ngFor="let row of skeletonRows" style="height:46px">
                <td *ngFor="let col of skeletonCols">
                    <p-skeleton></p-skeleton>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>