<p-table
        [value]="fuelOrders()"
        [loading]="fetchingFuelOrders()"
        size="small"
        [showLoader]="false"
        [tableStyle]="{ 'min-width': '60rem' }">

        <ng-template #header>
            <tr>
                <th>{{ 'fuelOrders.id' | translate }}</th>
                @if (showFuelStation()) {
                    <th>{{ 'fuelOrders.fuelStation' | translate }}</th>
                }
                <th>{{ 'fuelOrders.status' | translate }}</th>
                <th>{{ 'fuelOrders.fuelGrade' | translate }}</th>
                <th>{{ 'fuelOrders.amount' | translate }}</th>
                <th>{{ 'fuelOrders.createdAt' | translate }}</th>
                <th>{{ 'common.actions' | translate }}</th>
            </tr>
        </ng-template>

        <ng-template fuelOrderTemplate #body let-order>
            <tr>
                <td>{{ order.fuelOrderId }}</td>
                @if (showFuelStation()) {
                    <td>
                        <a class="underline underline-offset-4" [routerLink]="['/fuel-stations', order.fuelStationId, 'info']">
                            {{ 'fuelOrders.fuelStationIdLabel' | translate }} {{ order.fuelStationId }}
                        </a>
                    </td>
                }
                <td><app-fuel-order-status-tag [status]="order.status" /></td>
                <td><app-fuel-grade-label [grade]="order.fuelGrade" /></td>
                <td>{{ order.amount }}</td>
                <td>{{ order.createdAt | appDate }}</td>
                <td>
                    <div class="flex items-center gap-2">
                        @if (order.pending) {
                            <button
                                pButton pRipple
                                type="button"
                                icon="pi pi-check"
                                severity="success"
                                [loading]="rejectingFuelOrder() || confirmingFuelOrder()"
                                (click)="confirmFuelOrder(order.fuelOrderId)"
                                text rounded>
                            </button>
                            <button
                                pButton pRipple
                                type="button"
                                icon="pi pi-times"
                                severity="danger"
                                [loading]="rejectingFuelOrder() || confirmingFuelOrder()"
                                (click)="rejectFuelOrder(order.fuelOrderId)"
                                text rounded>
                            </button>
                        } @else {
                            {{ 'common.noActions' | translate }}
                        }
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template #loadingbody>
            @for (row of skeletonRows; track $index) {
                <tr style="height: 46px">
                    @for (col of skeletonCols(); track $index) {
                        <td><p-skeleton /></td>
                    }
                </tr>
            }
        </ng-template>

    </p-table>
