<p-table
        [value]="fuelOrders()"
        [loading]="fetchingFuelOrders()"
        size="small"
        [showLoader]="false"
        [tableStyle]="{ 'min-width': '60rem' }">

        <ng-template #header>
            <tr>
                <th>Order ID</th>
                <th>Status</th>
                <th>Fuel Grade</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </ng-template>

        <ng-template #body let-order>
            <tr>
                <td>{{ order.fuelOrderId }}</td>
                <td><p-tag [value]="getFuelOrderStatusValue(order.status)" [severity]="getSeverity(order.status)" /></td>
                <td>{{ getFuelGradeValue(order.fuelGrade) }}</td>
                <td>{{ order.amount }}</td>
                <td>
                    <div class="flex items-center gap-2">
                        @if (order.pending) {
                            <button
                                pButton pRipple
                                type="button"
                                icon="pi pi-check"
                                severity="success"
                                [loading]="rejectingFuelOrder() || confirmingFuelOrder()"
                                (click)="confirmFuelOrder(order.fuelOrderId)"
                                text rounded>
                            </button>
                            <button
                                pButton pRipple
                                type="button"
                                icon="pi pi-times"
                                severity="danger"
                                [loading]="rejectingFuelOrder() || confirmingFuelOrder()"
                                (click)="rejectFuelOrder(order.fuelOrderId)"
                                text rounded>
                            </button>
                        } @else {
                            No available actions
                        }
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template #loadingbody>
            @for (row of skeletonRows; track $index) {
                <tr style="height: 46px">
                    @for (col of skeletonCols; track $index) {
                        <td><p-skeleton /></td>
                    }
                </tr>
            }
        </ng-template>

    </p-table>