<form class="flex flex-col gap-4" [formGroup]="managerForm" (submit)="handleSubmit()">
    <div class="flex flex-col gap-1">
        <input
            type="firstName"
            pInputText
            [placeholder]="'managers.firstPlaceholder' | translate"
            formControlName="firstName"
        />
        <p-message *ngIf="firstNameInvalid" severity="error" variant="simple" size="small">{{ 'managers.errors.firstNameInvalid' | translate }}</p-message>
    </div>
    <div class="flex flex-col gap-1">
        <input
            type="lastName"
            pInputText
            [placeholder]="'managers.lastNamePlaceholder' | translate"
            formControlName="lastName"
        />
        <p-message *ngIf="lastNameInvalid" severity="error" variant="simple" size="small">{{ 'managers.errors.lastNameInvalid' | translate }}</p-message>
    </div>
    <div class="flex flex-col gap-1">
        <input
            type="email"
            pInputText
            [placeholder]="'managers.emailPlaceholder' | translate"
            formControlName="email"
        />
        <p-message *ngIf="emailInvalid" severity="error" variant="simple" size="small">{{ 'managers.errors.emailInvalid' | translate }}</p-message>
    </div>
    <p-button type="submit" icon="pi pi-sign-in" styleClass="w-full" [label]="buttonText" [loading]="loading"/>
</form>
