<ng-container *ngIf="!(isLoading$ | async); else loadingTemplate">
  <ng-template #notLoggedIn>
    <app-not-logged-in-header/>
  </ng-template>

  <ng-container *ngIf="user$ | async as user; else notLoggedIn">
    <app-manager-header *ngIf="user && user.manager"/>
    <app-admin-header *ngIf="user && user.admin"/>
  </ng-container>

  <main class="h-screen">
    <div class="container mx-auto">
      <router-outlet />
    </div>
  </main>

  <footer>
    <div class="container mx-auto">
      footer
    </div>
  </footer>
</ng-container>

<ng-template #loadingTemplate>
  <div class="flex items-center justify-center h-screen">
    <div>Loading...</div>
  </div>
</ng-template>